.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

td {
  padding: 8px 12px;
  text-align: left;
}
